<ion-card color="dark" class="ion-margin-bottom ion-margin-end ion-margin-top ion-margin-start">
  <ion-card-header>
    <ion-card-title>Curso</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <!-- Utiliza [(ngModel)] para enlazar los valores de los ion-input -->
    <ion-input [(ngModel)]="curso.nombre" color="light" fill="outline" class="ion-margin-bottom"></ion-input>
    <ion-input [(ngModel)]="curso.puntos" color="light" fill="outline"></ion-input>
  </ion-card-content>
</ion-card>