<ion-card color="dark" class="ion-margin-bottom ion-margin-end ion-margin-top ion-margin-start">
  <ion-card-header>
    <ion-card-title>Añadir Curso</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-input color="light" label="Nombre" label-placement="floating" fill="outline" placeholder="Curso" class="ion-margin-bottom"></ion-input>
    <ion-input color="light" label="Puntos" label-placement="floating" fill="outline" placeholder="Curso"></ion-input>
  </ion-card-content>
  <ion-button class="ion-margin-bottom ion-margin-end ion-margin-top ion-margin-start" color="light" fill="outline" size="large" expand="full">Añadir</ion-button>
</ion-card>
